html {
    text-align: center;
}

/****** Body police******/

body {
    font-family: "Roboto";
}

/***** fav *****/

.heart {

}



/****** topbar ******/

.logo img {
    width: 40%;
}

header i {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-1144%);
    font-size: 1.2rem;
    color: #000;
}

.image-header {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

/****** selection ******/

#selection h1 {
    margin-top: 0%;
    padding-top: 3%;
    margin-right: auto;
    margin-left: auto;
}

.cadre p {
    margin-right: auto;
    margin-left: auto;
}

.pin-logo {
    height: 25px;
    width: auto;
    display: flex;
    background-color: #f3f3f3;
    justify-content: center;
    position: relative;
    padding: 10px;
    font-size: 20px;
}

.pin-logo p {
    margin-top: 0;
    margin-left: 25px;
}

.pin-logo i {
    width: auto;
}

.cadre {
    background-color: #fafafa;
}

.cadre {
    padding-bottom: 5%;
}

.btn {
    margin-top: 2%;
    height: 50px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 30px;
    background-color: #ff79da;
    background-image: linear-gradient(0deg,#9356dce6,#ff79dae6);
    transition-duration: .25s;
}

/****** Fonctionnement ******/

#fonctionnement {
    margin-left: 2%;
}

#fonctionnement h1 {
    text-align: start;
}

.tuto {
    width: 93%;
    display: flex;
    background-color: #f6f6f6;
    border-radius: 17px;
    margin-bottom: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    justify-content: space-between;
    margin-left: 10px;
}

.tuto .bulle {
    background-color: #9356DC;
    color: white;
    padding: 2px 7px;
    border-radius: 12px;
    transform: translate( -5px, 0px);
}

.tuto i {
    line-height: 3.5;
    color: gray;
}

.tuto-titre {
    padding-right: 90px;
}

.tuto .fa-solid {
    font-size: 15px;
}

.tuto .fa-mobile-screen-button {
    transform: translate(-38px, 0px);
}

.tuto .tuto-titre-un {
    transform: translate( -71px, 0px);
}

/****** resto *******/

#resto {
    background-color: #f6f6f6;
}

#resto h1 {
    text-align: start;
    margin-left: 15px;
    padding-top: 40px;
}

.card {
    width: 97%;
    box-shadow: 0px 5px 20px #999;
    border-radius: 29px 29px 29px 29px;
    background-color: #fff;
    height: 205px;
    margin-top: 30px;
    padding-bottom: 15px;
}

.card a {
    color: #333;
    text-decoration: none;
}

.card-image {
    height: 140px;
    position: relative;
    overflow: hidden;
    border-radius: 29px 29px 0px 0px;
}

.card-image img {
    width: 100%;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 29px 29px 0px 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: flex-start;
}

.card-body .heart {
  display: flex;
  justify-content: flex-end;
  transform: translate( 280px, -45px);
  font-size: 27px;
}

.card-titre h3 {
    margin: 12px 10px 0px 10px;
}
 

.card-sect p {
    margin: 9px 62px 0px 10px;
}

.card-list {
    margin-left: 10px;
    padding-bottom: 30px;
}

/****** footer ******/

footer {
    background-color: #353535;
}

footer a:hover {
    color: #eceaea;
}

footer a {
    color: #eceaea;
    text-decoration: none;
    display: flex;
}

footer i {
    transform: translate( 0px, 17px);
    padding-right: 10px;
}

.footer-body {
    padding-left: 15px;
}

.footer  {

}

.footer-body h1 {
    width: 15%;
    color: #fff;
    display: flex;
    padding-top: 20px;
    font-family: Shrikhand,"cursive";
    font-size: 2em;
}


